* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Arial, sans-serif;
  font-weight: 400;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  line-height: 1.55;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 32px;
}

h2 {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  margin-bottom: 12px;
  color: var(--color-primary);
}

p {
  /* color: var(--color-text-muted); */
   font-size: 24px;
  line-height: 1.6;
}

.footer p {
  color: var(--color-bg-soft);
}
