* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  font-family: Inter, Arial, sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 16px;
 
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  
}

h2::after {
  content: "";
  display: block;
  width: 98%;
  height: 3px;
  background-color: var(--color-accent);
  margin: 12px auto 0;
}

h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: var(--color-primary);
}

p {
  color: var(--color-text-muted);
  line-height: 1.6;
}

.footer p {
  color: var(--color-bg-soft);
}
