@media (max-width: 1024px) {
  .services {
    grid-template-columns: 1fr;
  }

  .advantages-list {
    grid-template-columns: 1fr;
  }

  @media (max-width: 900px) {
    .project-card {
      grid-template-columns: 1fr;
    }

    .project-card__image img {
      max-height: 220px;
    }
  }
}

@media (max-width: 600px) {
  header {
    justify-content: center;
  }

  .header__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .header__nav a {
    text-align: center;
    white-space: nowrap;
  }

  .header__logo {
    display: none;
  }

  nav a {
    font-size: 16px;
    padding: 0 3px;
  }

  h1 {
    font-size: 30px;
  }

  .hero-bg {
    background-repeat: no-repeat;
    max-height: 25vh;
  }

  .hero-content {
    padding: 2px 2px;
  }

  section {
    padding: 60px 0;
  }

  footer {
    padding: 20px 20px;
  }

  .messenger-bar {
    right: 10px;
    bottom: 24px;

    gap: 10px;
    padding: 14px 14px;

    border-radius: 22px;
  }

  .messenger-bar__title {
    font-size: 18px;
  }

  .messenger-btn {
    width: 45px;
    height: 45px;
  }

  .messenger-bar img {
    width: 40px;
    height: 40px;
  }
}
